<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>PREDICT CORONAVIRUS</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
<body>


<div class="login">
	<h1>Predict Coronavirus</h1>
	
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<label for="age">Age</label><br>
    	<input type="text" name="age" placeholder="20, 25, 50 etc" required="required" />  <br>
    	<label for="gndr">Gender</label><br>
        <input type="text" name="gender" placeholder="Male = 1, Female = 0" required="required" /> <br>
        <label for="fvr">Fever</label><br>
		<input type="text" name="fever" placeholder="In Fahrenheit Degree" required="required" /> <br>
		<label for="mdcn">Taken Any Medicine</label><br>
		<input type="text" name="d" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="cough">Dry Cough</label> <br>
		<input type="text" name="e" placeholder="Yes = 1, No = 0" required="required" /> <br>
		<label for="fat">Fatigue</label> <br>
		<input type="text" name="f" placeholder="Yes = 1, No = 0" required="required" /> <br>
		<label for="sp">Sputum Production</label> <br>
		<input type="text" name="g" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="stb">Shortness of Breath</label> <br>
		<input type="text" name="h" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="bd">Any type of Shortness of Breath Disease</label> <br>
		<input type="text" name="i" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="pain">Pain (muscular, chest, abdominal, joint, etc.)</label> <br>
		<input type="text" name="j" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="stht">Sore throat</label> <br>
		<input type="text" name="k" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="hache">Headache</label> <br>
		<input type="text" name="l" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="chil">Chills</label> <br>
		<input type="text" name="m" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="nvom">Nausea Or Vomiting</label> <br>
		<input type="text" name="n" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="ncon">Nasal Congestion</label> <br>
		<input type="text" name="o" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="dia">Diarrhoea</label> <br>
		<input type="text" name="q" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="pdis">Past Disease</label> <br>
		<input type="text" name="r" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="travel">TRAVEL DETAILS last 14th day</label> <br>
		<input type="text" name="s" placeholder="Yes = 1, No = 0" required="required" />  <br>
		<label for="cvid">COVID-19 Contamination Last 14 day</label> <br>
		<input type="text" name="t" placeholder="Yes = 1, No = 0" required="required" />  <br>
		
        <button type="submit" style="height:30px; width:154px" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>

